<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PharmacyDBEntities" connectionString="metadata=res://*/PharmacyDB.csdl|res://*/PharmacyDB.ssdl|res://*/PharmacyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TESTPC\KN19;initial catalog=PharmacyDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>