<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	<add name="DatabaseConf" connectionString="Host=ec2-34-247-118-233.eu-west-1.compute.amazonaws.com;Port=5432;Database=d3vhfr21hfpphl;Username=wzvjswcqjjcchq;Password=6eda0446002d87a254a5acfc4c03afd4d4030faa93f53c20e89da42f175e768e"/>
  </connectionStrings>
</configuration>